@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("LogoView")

<h1>@ViewBag.Title</h1>

<h4>Profa. Dra. S&iacute;lvia Ferolla &ndash; Palestra no curso de Modula&ccedil;&atilde;o Intestinal II Prof. Murilo Pereira, agosto 2019</h4>
<hr />

<ul class="nav nav-pills">
    <li class="nav-item active">
        <a class="nav-link" href="#">Alto teor de FODMAP</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Massas")">Baixo teor de FODMAP</a>
    </li>
</ul>

<ul class="nav nav-tabs">
    <li class="nav-item active">
        <a class="nav-link" href="#">Massas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Vegetais")">Vegetais</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Frutas")">Frutas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Leite_e_Derivados")">Leite e derivados</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Substitutos_do_leite")">Substitutos do leite</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Leguminosas_oleaginosas_graos_sementes")">Leguminosas, oleaginosas, grãos e sementes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Bebidas")">Bebidas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Condimentos_e_acucares")">Condimentos e açúcares</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Industrializados")">Industrializados</a>
    </li>
</ul>

<div class="container">

    <h2>P&atilde;es, cereais, massas ricos em FODMAPS</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ALIMENTO</th>
                    <th>Nessa quantidade pode n&atilde;o ser tolerada</th>
                    <th>Tipo de FODMAP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Aveia, farelo</td>
                    <td class="text-center">24g</td>
                    <td>GOS</td>
                </tr>
                <tr>
                    <td>Arroz, farelo</td>
                    <td class="text-center">60g</td>
                    <td>GOS + FRUTANO</td>
                </tr>
                <tr>
                    <td>P&atilde;o espelta ou quinoa</td>
                    <td class="text-center">3 fatias</td>
                    <td>GOS + FRUTANO</td>
                </tr>
                <tr>
                    <td>Couscous sem gluten somente milho</td>
                    <td class="text-center">NA</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Milho, flocos</td>
                    <td class="text-center">NA</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Quinoa, flocos</td>
                    <td class="text-center">120g</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Arroz, flocos</td>
                    <td class="text-center">NA</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Arauta, farinha</td>
                    <td class="text-center">NA</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Milho, farinha</td>
                    <td class="text-center">NA</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Milho, amido</td>
                    <td class="text-center">NA</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Banana verde, farinha</td>
                    <td class="text-center">NA</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Pain&ccedil;o</td>
                    <td class="text-center">NA</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Farinhas: arroz, sorgo, teff, inhame</td>
                    <td rowspan="2" class="text-center">NA**</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Aveia, farinha</td>
                    <td class="text-center">52g</td>
                    <td>GOS + FRUTANO</td>
                </tr>
                <tr>
                    <td>Macarr&atilde;o kelp</td>
                    <td class="text-center">NA</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Pipoca</td>
                    <td class="text-center">NA</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Biscoito de arroz</td>
                    <td class="text-center">NA</td>
                    <td>checar outros ingredientes</td>
                </tr>
                <tr>
                    <td class="text-center" colspan="3">P&atilde;es, cereais, biscoitos sem gl&uacute;ten &ndash; CHECAR O R&Oacute;TULO</td>
                </tr>
            </tbody>
        </table>
        <hr />
    </div>

</div>