@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("LogoView")

<h1>@ViewBag.Title</h1>

<h4>Profa. Dra. S&iacute;lvia Ferolla &ndash; Palestra no curso de Modula&ccedil;&atilde;o Intestinal II Prof. Murilo Pereira, agosto 2019</h4>
<hr />

<ul class="nav nav-pills">
    <li class="nav-item active">
        <a class="nav-link" href="#">Alto teor de FODMAP</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Massas")">Baixo teor de FODMAP</a>
    </li>
</ul>

<ul class="nav nav-tabs">
    <li class="nav-item active">
        <a class="nav-link" href="#">Massas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Vegetais")">Vegetais</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Frutas")">Frutas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Leite_e_Derivados")">Leite e derivados</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Substitutos_do_leite")">Substitutos do leite</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Leguminosas_oleaginosas_graos_sementes")">Leguminosas, oleaginosas, grãos e sementes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Bebidas")">Bebidas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Condimentos_e_acucares")">Condimentos e açúcares</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Industrializados")">Industrializados</a>
    </li>
</ul>

<div class="container">

    <h2>P&atilde;es, cereais, massas ricos em FODMAPS</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ALIMENTO</th>
                    <th>Nessa quantidade pode n&atilde;o ser tolerada</th>
                    <th>Tipo de FODMAP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Farinha de am&ecirc;ndoa</td>
                    <td class="text-center">24g</td>
                    <td>GOS</td>
                </tr>
                <tr>
                    <td>Amaranto</td>
                    <td class="text-center">10g</td>
                    <td>GOS, FRUTANO</td>
                </tr>
                <tr>
                    <td>Cevada</td>
                    <td class="text-center">28g</td>
                    <td>GOS, FRUTANO</td>
                </tr>
                <tr>
                    <td>Triguilho</td>
                    <td class="text-center">44g</td>
                    <td>GOS, FRUTANO</td>
                </tr>
                <tr>
                    <td>Farelo de trigo</td>
                    <td class="text-center">5g</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Granola</td>
                    <td class="text-center">NA</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Couscous de milho ou trigo</td>
                    <td class="text-center">NA</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Espelta</td>
                    <td class="text-center">NA</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Farinha de coco</td>
                    <td class="text-center">NA</td>
                    <td>FRUTANO, SORBITOL, FRUTOSE</td>
                </tr>
                <tr>
                    <td>Farinha de centeio</td>
                    <td class="text-center">NA</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Massa de espelta</td>
                    <td class="text-center">74-85g</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Semolina</td>
                    <td class="text-center">NA</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Muelsi</td>
                    <td class="text-center">NA</td>
                    <td>FRUTANO, SORBITOL</td>
                </tr>
                <tr>
                    <td>Biscoitos que contenham farinha de trigo</td>
                    <td class="text-center">NA</td>
                    <td>FRUTANO</td>
                </tr>
                <tr>
                    <td>Barrinha – fruta seca, castanhas, mel, aveia, granola (etc.)</td>
                    <td class="text-center">NA</td>
                    <td>FRUTANO, FRUTOSE, GOS</td>
                </tr>
            </tbody>
        </table>
        <hr />
    </div>

</div>