@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("LogoView")

<h1>@ViewBag.Title</h1>

<h4>Profa. Dra. S&iacute;lvia Ferolla &ndash; Palestra no curso de Modula&ccedil;&atilde;o Intestinal II Prof. Murilo Pereira, agosto 2019</h4>
<hr />

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("FODMAPS")">Alto teor de FODMAP</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="#">Baixo teor de FODMAP</a>
    </li>
</ul>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Massas")">Massas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Vegetais_baixo_FODMAPS")">Vegetais</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" href="#">Frutas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Substitutos_do_leite_baixo_FODMAP")">Substitutos do leite</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Leguminosas_oleaginosas_graos_sementes_baixo_FODMAP")">Leguminosas, oleaginosas, grãos e sementes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Bebidas_baixos_FODMAPS")">Bebidas</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link active" href="@Url.Action("Acucares_baixo_FODMAP")">Açúcares</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Condimentos_baixo_FODMAP")">Condimentos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Gorduras")">Gorduras</a>
    </li>
</ul>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ALIMENTO</th>
                <th>Nessa quantidade pode n&atilde;o ser tolerada</th>
                <th>Tipo de FODMAP</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>A&ccedil;a&iacute; p&oacute;</td>
                <td class="text-center">NA</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Chips de banana desidratada</td>
                <td class="text-center">34g</td>
                <td>FOS</td>
            </tr>
            <tr>
                <td>Banana comum (verde)</td>
                <td class="text-center">110g</td>
                <td>FOS</td>
            </tr>
            <tr>
                <td>Banana ouro (de vez mais verde que madura)</td>
                <td class="text-center">NA</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Fruta p&atilde;o</td>
                <td class="text-center">NA</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Mel&atilde;o cantaloupe</td>
                <td class="text-center">150g</td>
                <td>FRUTANO</td>
            </tr>
            <tr>
                <td>Carambola</td>
                <td class="text-center">NA</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Mexerica</td>
                <td class="text-center">NA</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Coco ralado seco</td>
                <td class="text-center">45g</td>
                <td>SORBITOL</td>
            </tr>
            <tr>
                <td>Pitaia</td>
                <td class="text-center">NA</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Uva moscatel (negra), ralli (sem sementes), thompson (verde), vermelha</td>
                <td class="text-center">NA</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Kiwi (verde ou gold)</td>
                <td class="text-center">&gt;195g</td>
                <td>FRUTANO</td>
            </tr>
            <tr>
                <td>Morango</td>
                <td class="text-center">NA</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Tamarindo</td>
                <td class="text-center">NA</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Abacaxi </td>
                <td class="text-center">200g</td>
                <td>FRUTANO</td>
            </tr>
            <tr>
                <td>Mangost&atilde;o</td>
                <td class="text-center">100g</td>
                <td>FOS</td>
            </tr>
            <tr>
                <td>Laranja </td>
                <td class="text-center">NA</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Papaya</td>
                <td class="text-center">NA</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Maracuj&aacute;</td>
                <td class="text-center">100g</td>
                <td>FOS</td>
            </tr>
        </tbody>
    </table>
</div>