@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("LogoView")

<h1>@ViewBag.Title</h1>

<h4>Profa. Dra. S&iacute;lvia Ferolla &ndash; Palestra no curso de Modula&ccedil;&atilde;o Intestinal II Prof. Murilo Pereira, agosto 2019</h4>
<hr />

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("FODMAPS")">Alto teor de FODMAP</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="#">Baixo teor de FODMAP</a>
    </li>
</ul>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Massas")">Massas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Vegetais_baixo_FODMAPS")">Vegetais</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="@Url.Action("Frutas_baixo_FODMAP")">Frutas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Substitutos_do_leite_baixo_FODMAP")">Substitutos do leite</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Leguminosas_oleaginosas_graos_sementes_baixo_FODMAP")">Leguminosas, oleaginosas, grãos e sementes</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link active" href="@Url.Action("Acucares_baixo_FODMAP")">Açúcares</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Condimentos_baixo_FODMAP")">Condimentos</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="#">Gorduras</a>
    </li>
</ul>

<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td class="text-center">&Oacute;leo de abacate</td>
                <td class="text-center">&Oacute;leo de coco</td>
                <td class="text-center">Manteiga ghee</td>
            </tr>
            <tr>
                <td class="text-center">&Oacute;leo de oliva</td>
                <td class="text-center">Infus&atilde;o de alho em azeite</td>
                <td class="text-center">&Oacute;leo de arroz</td>
            </tr>
            <tr>
                <td class="text-center">&Oacute;leo de gergelim</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>