// Dicas
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

@Html.Partial("LogoView")

<hr />
<h1><a class="list-group-item" href="@Url.Action("COVID19", "Dicas")">COVID-19: Sua imunidade depende do seu intestino</a></h1>

<h2><a class="list-group-item" href="@Url.Action("Orientacoes_COVID19_HCFMB", "Dicas")">Orientações nutricionais durante a pandemia COVID-19 por HCFMB</a></h2>
<hr />

<ul class="nav nav-pills">
    <li class="nav-item active">
        <a class="nav-link" href="#">Biblioteca textual</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("BibliotecaVideo")">Biblioteca em vídeo</a>
    </li>
</ul>

<div class="container " Receitas">
    <div class="row">
        <div class="col-md-8 " Receitas">
            <h2>Todos os itens por ordem alfab&eacute;tica</h2>
            <div class="list-group " Receitas">
                <a class="list-group-item" href="@Url.Action("As_10_leis_do_bom_alimento", "Dicas")">As 10 leis do bom alimento</a>
                <a class="list-group-item" href="@Url.Action("Campanhas", "Dicas")">Campanha: Aqui tem</a>
                <a class="list-group-item" href="@Url.Action("COVID19", "Dicas")">COVID-19: Sua imunidade depende do seu intestino</a>
                <a class="list-group-item" href="@Url.Action("FODMAPS", "Dicas")">FODMAPS</a>
                <a class="list-group-item" href="@Url.Action("O_que_manter_na_despensa_e_na_geladeira", "Dicas")">O que manter na despensa e na geladeira</a>
                <a class="list-group-item" href="@Url.Action("Orientacoes_COVID19_HCFMB", "Dicas")">Orientações nutricionais durante a pandemia COVID-19 por HCFMB</a>
            </div>
        </div>
        <div class="col-md-4" Receitas">
            <img class="img-responsive" src="~/images/Dicas_da_Manu_250.jpg" alt="Dicas da Manuela Ibi" />
            <p></p>
        </div>
    </div>
</div>