@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("LogoView")

<h1>@ViewBag.Title</h1>

<h4>Profa. Dra. S&iacute;lvia Ferolla &ndash; Palestra no curso de Modula&ccedil;&atilde;o Intestinal II Prof. Murilo Pereira, agosto 2019</h4>
<hr />

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("FODMAPS")">Alto teor de FODMAP</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="#">Baixo teor de FODMAP</a>
    </li>
</ul>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Massas")">Massas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Vegetais_baixo_FODMAPS")">Vegetais</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="@Url.Action("Frutas_baixo_FODMAP")">Frutas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Substitutos_do_leite_baixo_FODMAP")">Substitutos do leite</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="#" )">Leguminosas, oleaginosas, grãos e sementes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Bebidas_baixos_FODMAPS")">Bebidas</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link active" href="@Url.Action("Acucares_baixo_FODMAP")">Açúcares</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Condimentos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Gorduras")">Gorduras</a>
    </li>
</ul>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ALIMENTO</th>
                <th>Nessa quantidade pode n&atilde;o ser tolerada</th>
                <th>Tipo de FODMAP</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Castanha do Brasil</td>
                <td class="text-center">NA</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Linha&ccedil;a</td>
                <td class="text-center">30g</td>
                <td>GOS</td>
            </tr>
            <tr>
                <td>Sementes de girassol</td>
                <td class="text-center">NA</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Lentilha enlatada</td>
                <td class="text-center">NA</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Macad&acirc;mia</td>
                <td class="text-center">NA</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Broto de feij&atilde;o</td>
                <td class="text-center">NA</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Tigernut (jun&ccedil;a, junquinha-mansa)</td>
                <td class="text-center">NA</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Amendoim</td>
                <td class="text-center">NA</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Pecan</td>
                <td class="text-center">NA</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Pinh&atilde;o</td>
                <td class="text-center">NA</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Sementes de chia (branca ou preta)</td>
                <td class="text-center">NA</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Sementes de c&acirc;nhamo e de papoula</td>
                <td class="text-center">NA</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Sementes de ab&oacute;bora</td>
                <td class="text-center">NA</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Gergelim</td>
                <td class="text-center">NA</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Nozes </td>
                <td class="text-center">NA</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
</div>