@{
    ViewBag.Title = "Receitas";
}

<h1>Receitas</h1>

@Html.Partial("LogoView")

<ul class="nav nav-pills">
    <li class="nav-item active">
        <a class="nav-link" href="#">Receitas em texto</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("ReceitasVideo")">Receitas em vídeo</a>
    </li>
</ul>

<div class="container Receitas">
    <div class="row">
        <div class="col-md-8 Receitas">
            <h2>Todas as receitas por ordem alfabética</h2>
            <div class="list-group " Receitas">
                <a class="list-group-item" href="@Url.Action("Alcachofra_ao_molho_de_cebola_roxa", "Receitas")">Alcachofra ao molho de cebola roxa</a>
                <a class="list-group-item" href="@Url.Action("Avo_burguer", "Receitas")">Avo burguer - Pode ser vegano, vegetariano ou não, depende do recheio</a>
                <a class="list-group-item" href="@Url.Action("Avo_garden", "Receitas")">Avo Garden</a>
                <a class="list-group-item" href="@Url.Action("Bacalhau_com_requeijao_de_tofu_e_gengibre", "Receitas")">Bacalhau com requeijão de tofu & gengibre</a>
                <a class="list-group-item" href="@Url.Action("Bobo_de_shimeji", "Receitas")">Bobó de shimeji</a>
                <a class="list-group-item" href="@Url.Action("Bolo_de_cacau_e_aveia", "Receitas")">Bolo de cacau e aveia</a>
                <a class="list-group-item" href="@Url.Action("Bolo_de_coco_com_palatinose", "Receitas")">Bolo de coco com palatinose</a>
                <a class="list-group-item" href="@Url.Action("Bolo_de_Reis", "Receitas")">Bolo de Reis - Bolo de banana, castanha e frutas secas sem farinha de trigo</a>
                <a class="list-group-item" href="@Url.Action("Bolo_nega_maluca", "Receitas")">Bolo nega maluca</a>
                <a class="list-group-item" href="@Url.Action("Bolo_salgado_de_quinoa_e_atum_sem_gluten", "Receitas")">Bolo salgado de quinoa e atum sem glúten</a>
                <a class="list-group-item" href="@Url.Action("Borek_turco", "Receitas")">Borek turco</a>
                <a class="list-group-item" href="@Url.Action("Browne_de_abobora", "Receitas")">Browne de abóbora</a>
                <a class="list-group-item" href="@Url.Action("Ceviche_de_polpa_de_coco_verde_vegano", "Receitas")">Ceviche de polpa de coco verde (Vegano)</a>
                <a class="list-group-item" href="@Url.Action("Cha_pretreino", "Receitas")">Chá pré-treino</a>
                <a class="list-group-item" href="@Url.Action("Chas_e_shots_moduladores_de_inflamacao", "Receitas")">Chás e shots moduladores de inflamação</a>
                <a class="list-group-item" href="@Url.Action("Chocofrutas_e_choconuts_do_céu", "Receitas")">Chocofrutas & choconuts do céu</a>
                <a class="list-group-item" href="@Url.Action("Cloud_bread", "Receitas")">Cloud Bread (4 receitas)</a>
                <a class="list-group-item" href="@Url.Action("Coscous_couve_flor", "Receitas")">Coscous de couve-flor</a>
                <a class="list-group-item" href="@Url.Action("Crocante_de_sementes_sem_glutem", "Receitas")">Crocantes de semente sem glútem (Salgadinho sem glútem)</a>
                <a class="list-group-item" href="@Url.Action("Croutons_ou_petisco_de_grao_de_bico", "Receitas")">Croutons ou petisco de grão de bico</a>
                <a class="list-group-item" href="@Url.Action("Crumble_low_carb_com_legumes", "Receitas")">Crumble low carb com legumes</a>
                <a class="list-group-item" href="@Url.Action("Dahl_de_grao_de_bico", "Receitas")">Dahl de grão de bico (Sopa indiana com especiarias)</a>
                <a class="list-group-item" href="@Url.Action("Escondidinho_de_frango_fit", "Receitas")">Escondidinho de frango fit</a>
                <a class="list-group-item" href="@Url.Action("Falafel", "Receitas")">Falafel</a>
                <a class="list-group-item" href="@Url.Action("Farofa_proteica", "Receitas")">Farofa proteica</a>
                <a class="list-group-item" href="@Url.Action("Fondue_fit_de_chocolate", "Receitas")">Fondue fit de chocolate</a>
                <a class="list-group-item" href="@Url.Action("Fondue_fit_de_queijo", "Receitas")">Fondue fit de queijo</a>
                <a class="list-group-item" href="@Url.Action("Galette_de_sarraceno", "Receitas")">Galette de sarraceno</a>
                <a class="list-group-item" href="@Url.Action("Geleia_falsa_de_damasco_e_ameixa", "Receitas")">Geléia (falsa) de damasco &amp; ameixa</a>
                <a class="list-group-item" href="@Url.Action("Golden_milk", "Receitas")">Golden milk</a>
                <a class="list-group-item" href="@Url.Action("Guacamole_com_azeitonas", "Receitas")">Guacamole com azeitonas</a>
                <a class="list-group-item" href="@Url.Action("Guacamole_tradicional", "Receitas")">Guacamole tradicional</a>
                <a class="list-group-item" href="@Url.Action("Hamburguer_de_abobora", "Receitas")">Hambúrguer de abóbora</a>
                <a class="list-group-item" href="@Url.Action("Hamburguer_de_feijao", "Receitas")">Hambúrguer de feijão</a>
                <a class="list-group-item" href="@Url.Action("Homus_funcional", "Receitas")">Homus funcional</a>
                <a class="list-group-item" href="@Url.Action("Energy_gel", "Receitas")">Intra-treino (Gel energético – para exercícios intensos e longos)</a>
                <a class="list-group-item" href="@Url.Action("Isotonico_caseiro", "Receitas")">Isotônico caseiro</a>
                <a class="list-group-item" href="@Url.Action("Kibe_de_ervilha_partida", "Receitas")">Kibe de ervilha partida (Vegano)</a>
                <a class="list-group-item" href="@Url.Action("Kibe_de_peixe", "Receitas")">Kibe de peixe</a>
                <a class="list-group-item" href="@Url.Action("Leite_de_aveia", "Receitas")">Leite de aveia</a>
                <a class="list-group-item" href="@Url.Action("Leite_de_coco_prebiotico_e_antioxidante", "Receitas")">Leite de coco prébiotico &amp; antioxidanteia</a>
                <a class="list-group-item" href="@Url.Action("Maionese_de_abacate", "Receitas")">Maionese de abacate</a>
                <a class="list-group-item" href="@Url.Action("Maionese_de_tofu", "Receitas")">Maionese de tofu</a>
                <a class="list-group-item" href="@Url.Action("Maionese_de_tofu_e_abacate_ao_wassabi", "Receitas")">Maionese de tofu & abacate ao wassabi</a>
                <a class="list-group-item" href="@Url.Action("Mandioqueijo_Queijo_de_mandioca", "Receitas")">Mandioqueijo: Queijo de mandioca</a>
                <a class="list-group-item" href="@Url.Action("Mini_bolinhos_de_chocolate_do_bem", "Receitas")">Mini bolinhos de chocolate do bem</a>
                <a class="list-group-item" href="@Url.Action("Mini_cuscuz_de_legumes_e_salvia", "Receitas")">Mini cuscuz de legumes e sálvia</a>
                <a class="list-group-item" href="@Url.Action("Mini_sufles_de_abobora", "Receitas")">Mini suflês de abobora</a>
                <a class="list-group-item" href="@Url.Action("Molho_para_salada_Alho_com_iogurte", "Receitas")">Molho para salada alho com iogurte</a>
                <a class="list-group-item" href="@Url.Action("Molho_para_salada_Mostarda", "Receitas")">Molho para salada mostarda</a>
                <a class="list-group-item" href="@Url.Action("Moqueca_de_palmito_pupunha_com_banana_da_terra", "Receitas")">Moqueca de pupunha e banana da terra</a>
                <a class="list-group-item" href="@Url.Action("Mousse_de_cacau", "Receitas")">Mousse de cacau</a>
                <a class="list-group-item" href="@Url.Action("Muffins_de_batata_doce", "Receitas")">Muffins de batata doce</a>
                <a class="list-group-item" href="@Url.Action("Muffins_de_canela", "Receitas")">Muffins de canela</a>
                <a class="list-group-item" href="@Url.Action("Nhoque_de_cabotia", "Receitas")">Nhoque de cabotiá</a>
                <a class="list-group-item" href="@Url.Action("Nutella_funcional", "Receitas")">Nutella funcional</a>
                <a class="list-group-item" href="@Url.Action("Overnight_oat", "Receitas")">Overnight oat</a>
                <a class="list-group-item" href="@Url.Action("Panqueca_de_cacau_sacietogenica", "Receitas")">Panqueca de cacau sacietogênica</a>
                <a class="list-group-item" href="@Url.Action("Panqueca_de_microondas", "Receitas")">Panqueca de micro-ondas</a>
                <a class="list-group-item" href="@Url.Action("Pao_de_batata_doce", "Receitas")">Pão de batata doce</a>
                <a class="list-group-item" href="@Url.Action("Pao_de_chia", "Receitas")">Pão de chia</a>
                <a class="list-group-item" href="@Url.Action("Pao_de_espinafre", "Receitas")">Pão de espinafre</a>
                <a class="list-group-item" href="@Url.Action("Pao_de_forma_keto_low_carb", "Receitas")">Pão de forma (keto low carb)</a>
                <a class="list-group-item" href="@Url.Action("Pao_de_frigideira", "Receitas")">Pão de frigideira</a>
                <a class="list-group-item" href="@Url.Action("Pao_de_hamburguer_keto_cetogenico", "Receitas")">&quot;Pão&quot; de hambúrguer - keto cetogênico</a>
                <a class="list-group-item" href="@Url.Action("Pao_sem_gluten_de_milho_de_micro_ondas", "Receitas")">Pão de milho de micro-ondas</a>
                <a class="list-group-item" href="@Url.Action("Pesto_com_tofu", "Receitas")">Pesto com tofu</a>
                <a class="list-group-item" href="@Url.Action("Pizza_de_omelete", "Receitas")">Pizza de omelete</a>
                <a class="list-group-item" href="@Url.Action("Pizza_sem_gluten_de_quinua", "Receitas")">Pizza sem glúten de quinua</a>
                <a class="list-group-item" href="@Url.Action("Smoothie_antioxidante", "Receitas")">Pós treino (Smoothie antioxidante)</a>
                <a class="list-group-item" href="@Url.Action("Coffee_smoothie_pre_treino", "Receitas")">Pré treino energizante (Coffee smoothie)</a>
                <a class="list-group-item" href="@Url.Action("Pudim_de_chia", "Receitas")">Pudim de chia</a>
                <a class="list-group-item" href="@Url.Action("Pure_de_inhame_e_cabotian_com_ragu_e_shimeji_e_aspargos_grelhados", "Receitas")">Purê de inhame & cabotiá com ragú de shimeji e aspargos grelhados</a>
                <a class="list-group-item" href="@Url.Action("Queijo_vegano", "Receitas")">Queijo vegano</a>
                <a class="list-group-item" href="@Url.Action("Shitakes_assados_ao_pesto_com_tofu_vegano", "Receitas")">Shitakes assados ao pesto com tofu (Vegano)</a>
                <a class="list-group-item" href="@Url.Action("Smoothie_cremoso_cacau", "Receitas")">Smoothie cremoso cacau</a>
                <a class="list-group-item" href="@Url.Action("Smoothie_de_banana_e_maca", "Receitas")">Smoothie de banana e maçã</a>
                <a class="list-group-item" href="@Url.Action("Smoothie_de_cacau", "Receitas")">Smoothie de cacau</a>
                <a class="list-group-item" href="@Url.Action("Sopa_antioxidante", "Receitas")">Sopa antioxidante</a>
                <a class="list-group-item" href="@Url.Action("Sopa_creme_termogenica", "Receitas")">Sopa creme termogênica</a>
                <a class="list-group-item" href="@Url.Action("Sopa_cremosa_de_shitake_com_alho_poro", "Receitas")">Sopa cremosa de shitake com alho poró</a>
                <a class="list-group-item" href="@Url.Action("Sopa_de_cabotia_predileta", "Receitas")">Sopa de cabotiá predileta</a>
                <a class="list-group-item" href="@Url.Action("Sopa_de_ervilha_com_pipoca_de_limao", "Receitas")">Sopa de ervilha com pipoca ao perfume de limão</a>
                <a class="list-group-item" href="@Url.Action("Sopa_de_tomate_de_forno", "Receitas")">Sopa de tomate de forno</a>
                <a class="list-group-item" href="@Url.Action("Sopa_diuretica", "Receitas")">Sopa diurética</a>
                <a class="list-group-item" href="@Url.Action("Sopa_funcional_de_lentilha", "Receitas")">Sopa funcional de lentilha (sopa em pedaços)</a>
                <a class="list-group-item" href="@Url.Action("Sopa_refrescante_abobrinha_com_hortela", "Receitas")">Sopa refrescante: abobrinha com hortelã (Sopa creme)</a>
                <a class="list-group-item" href="@Url.Action("Sticks_de_tofu", "Receitas")">Sticks de tofu</a>
                <a class="list-group-item" href="@Url.Action("Tabule_de_quinoa", "Receitas")">Tabule de quinoa</a>
                <a class="list-group-item" href="@Url.Action("Temakis_low_carb", "Receitas")">Temakis low carb</a>
                <a class="list-group-item" href="@Url.Action("Torta_de_banana_funcional", "Receitas")">Torta de banana funcional</a>
                <a class="list-group-item" href="@Url.Action("Torta_salgada_de_aveia", "Receitas")">Torta salgada de aveia</a>
                <a class="list-group-item" href="@Url.Action("Tortinha_de_cebola_pure_rustico_agridoce", "Receitas")">Tortinha de cebola com purê rústico agridoce: crocante fora, molinha dentro</a>
                <a class="list-group-item" href="@Url.Action("Tortinhas_de_limao_maracuja_e_morango", "Receitas")">Tortinhas de limão, maracujá e morango</a>
                <a class="list-group-item" href="@Url.Action("Waffle", "Receitas")">Waffle</a>
            </div>
        </div>
        <div class="col-md-4 Receitas">
            <img class="img-responsive" src="~/images/manuela_ibi_chef_250.jpg" alt="Manuela Ibi Chef" />
            <p></p>
            <table class="table table-striped" style="width: 250px">
                <caption>Legenda</caption>
                <tr>
                    <td>
                        <img src="~/Images/Icone_receita_tradicional_italiana_45.jpg" alt="Receita tradicional italiana" />
                    </td>
                    <td class="cel-mid-content">
                        <span>
                            Receita tradicional italiana
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/Icone_vegetariana_45.jpg" alt="Receita vegetariana" />
                    </td>
                    <td class="cel-mid-content">
                        Vegetariana
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/Icone_100_por_cento_vegana_45.jpg" alt="Receita 100% vegana" />
                    </td>
                    <td class="cel-mid-content">
                        Vegana
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/Icone_low_carb_45.jpg" alt="Receita low carb" />
                    </td>
                    <td class="cel-mid-content">
                        Low Carb
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/Icone_sem_gluten_45.jpg" alt="Receita sem glúten" />
                    </td>
                    <td class="cel-mid-content">
                        Sem glúten
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/Icone_sem_laticinios_45.jpg" alt="Receita sem laticínios" />
                    </td>
                    <td class="cel-mid-content">
                        Sem Laticínios
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/Icone_dieta_cetogenica_45.jpg" alt="Dieta cetogênica" />
                    </td>
                    <td class="cel-mid-content">
                        Dieta cetogênica
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/Icone_sem_adicao_de_acucar_45.jpg" alt="Receita sem adição de açúcar" />
                    </td>
                    <td class="cel-mid-content">
                        Sem açúcar adicionado
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/Icone_bom_para_o_coracao_45.jpg" alt="Receita boa para o coração" />
                    </td>
                    <td class="cel-mid-content">
                        Bom para o coração
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Images/Icone_paleo_diet_45.jpg" alt="Receita paleo diet" />
                    </td>
                    <td class="cel-mid-content">
                        Paleo diet
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
