<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="pt-br">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"@ViewBag.Title"</title>
    <meta name="keywords" content="@ViewBag.Content" />
    <meta name="author" CONTENT="Di Fiore Soluções Corporativas, https://www.difiore.com.br">
    <meta name="description" content="Mini é o espaço onde você encontra (minhas) receitas fáceis e saudáveis acumuladas ao longo de anos de cozinha e orientações de pacientes em consultório. Alem disso você encontra meus cursos de gastronomia para leigos e um contato direto com minha linha de trabalho em consultório, onde alio nutricao funcional, fitoterapia, medicina tradicional chinesa & a modulação intestinal" />
    <meta id="currency" property="BRL" />
    <meta name="google-site-verification" content="mIl3mU_fvU-pEAVIugg_jEPyhbOU4APl5C-OGkS3Fvs" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Início", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Receitas", "Mais_receitas", "Receitas")</li>
                    <li>@Html.ActionLink("Cursos e eventos", "Index", "Cursos")</li>
                    <li>@Html.ActionLink("Biblioteca", "Index", "Dicas")</li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action("Atendimento", "Home")">Atendimento <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Atendimento", "Atendimento", "Home")</li>
                            <li>@Html.ActionLink("Fitoterapia", "Fitoterapia", "Home")</li>
                            <li>@Html.ActionLink("Serviços", "Servicos", "Home")</li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action("Contact", "Contact")">Contato <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Fale comigo", "Contact", "Contact")</li>
                            <li>@Html.ActionLink("Localização", "Mapa", "Contact")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Download", "Index", "File")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div div class="hidden-md hidden-lg">
                <br />
                <br />
            </div>
        </div>
    </div>
    <div class="container body-content">
        <script>
            (function () {
                var cx = '010159411092776514353:dzk-djlflo4';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
        </script>
        <gcse:search></gcse:search>
        @RenderBody()
        <hr />
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-md-6 col-lg-6">
                        <p style="font-size: small" class="text-left">&copy; 2018 - @DateTime.Now.Year Manuela Ibi Nutrição Integrada. Todos direitos reservados</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-md-6 col-lg-6">
                        <p style="font-size: small" class="text-right">Desenvolvido por: <a href="https://www.difiore.com.br/" target="_blank">Di Fiore Soluções Corporativas</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
