
@{
    ViewBag.Title = "Cursos";
}

<h1>Cursos</h1>

@Html.Partial("LogoView")

<div class="container "Cursos">
    <div class="row">
        <div class="col-md-8">
            <h2>Galeria dos cursos anteriores por data mais recente</h2>
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("Nutrikids_2019", "Cursos")">Nutrikids – outubro e novembro de 2019</a>
                <a class="list-group-item" href="@Url.Action("Petiscos_de_verão_9_outubro_2019", "Cursos")">Petiscos de verão – 9 de outubro de 2019</a>
                <a class="list-group-item" href="@Url.Action("Aniversário_1_ano_Clinica_Lis", "Cursos")">Aniversário Clínica Lis: 1 ano – 5 de outubro de 2019</a>
                <a class="list-group-item" href="@Url.Action("Cardapio_saudavel_18_setembro_2019", "Cursos")">Aprenda a montar o seu cardápio saudável – 18 de setembro de 2019</a>
                <a class="list-group-item" href="@Url.Action("Cardapio_saudavel_21_agosto_2019", "Cursos")">Aprenda a montar o seu cardápio saudável – 21 de agosto de 2019</a>
                <a class="list-group-item" href="@Url.Action("Sopas_17_julho_2019", "Cursos")">Sopas 17 de julho de 2019</a>
                <a class="list-group-item" href="@Url.Action("Sopas_16_junho_2019", "Cursos")">Sopas 16 de junho de 2019</a>
                <a class="list-group-item" href="@Url.Action("Lanches_22_maio_2019", "Cursos")">Estrat&eacute;gias para lanches doces e salgados &ndash; 22 de maio de 2019</a>
                <a class="list-group-item" href="@Url.Action("Receitas_e_intestino_saudavel_10_mar_2019", "Cursos")">Receitas &amp; intestino saudável - 10 de março de 2019</a>
                <a class="list-group-item" href="@Url.Action("Receitas_e_intestino_saudavel_22_fev_2019", "Cursos")">Receitas &amp; intestino saudável - 22 de fevereito de 2019</a>
                <a class="list-group-item" href="@Url.Action("Receitas_rapidas_para_detox_13_fev_2019", "Cursos")">Receitas rápidas para DETOX - 13 de fevereiro de 2019</a>
                <a class="list-group-item" href="@Url.Action("Receitas_rapidas_para_detox_30_jan_2019", "Cursos")">Receitas rápidas para DETOX - 30 de janeiro de 2019</a>
            </div>
        </div>
        <div class="col-md-4" Receitas">
            <img class="img-responsive" src="~/images/Chef_Manuela_Ibi_250.jpg" alt="Manuela Ibi Chef" />
            <p></p>
        </div>
    </div>
</div>
